In [17]:
import sqlite3
import pandas as pd

In [18]:
# create connection to the in-memory SQLite database
conn = sqlite3.connect(':memory:')

In [19]:
# create tables
conn.execute("""
CREATE TABLE Authors (
    ID INTEGER PRIMARY KEY,
    Name TEXT NOT NULL,
    Birthdate DATE
);
""")

conn.execute("""
CREATE TABLE Books (
    ID INTEGER PRIMARY KEY,
    Title TEXT NOT NULL,
    AuthorID INTEGER,
    PublishYear INTEGER,
    FOREIGN KEY (AuthorID) REFERENCES Authors (ID)
);
""")

conn.execute("""
CREATE TABLE Borrowers (
    ID INTEGER PRIMARY KEY,
    Name TEXT NOT NULL,
    BookID INTEGER,
    BorrowDate DATE,
    ReturnDate DATE,
    FOREIGN KEY (BookID) REFERENCES Books (ID)
);
""")

# insert data
conn.execute("""
INSERT INTO Authors (ID, Name, Birthdate)
VALUES 
    (1, 'George Orwell', '1903-06-25'), 
    (2, 'Margaret Atwood', '1939-11-18');
""")

conn.execute("""
INSERT INTO Books (ID, Title, AuthorID, PublishYear)
VALUES 
    (1, '1984', 1, 1949), 
    (2, 'Animal Farm', 1, 1945),
    (3, 'The Handmaid''s Tale', 2, 1985),
    (4, 'Oryx and Crake', 2, 2003);
""")

conn.execute("""
INSERT INTO Borrowers (ID, Name, BookID, BorrowDate, ReturnDate)
VALUES 
    (1, 'Alice', 1, '2023-07-01', '2023-07-15'),
    (2, 'Bob', 2, '2023-07-05', NULL),
    (3, 'Charlie', 3, '2023-07-10', NULL),
    (4, 'Alice', 4, '2023-07-20', NULL);
""")

# run the report query and generate a DataFrame
df = pd.read_sql_query("""
SELECT 
    Borrowers.Name AS Borrower,
    Books.Title AS Book,
    Authors.Name AS Author,
    Borrowers.BorrowDate
FROM
    Borrowers
JOIN
    Books ON Borrowers.BookID = Books.ID
JOIN
    Authors ON Books.AuthorID = Authors.ID
WHERE
    Borrowers.ReturnDate IS NULL;
""", conn)

# write the DataFrame to a CSV file
df.to_csv('report.csv', index=False)

print("Report has been written to 'report.csv'")

Report has been written to 'report.csv'

In [20]:
df

  Borrower                 Book           Author  BorrowDate
0      Bob          Animal Farm    George Orwell  2023-07-05
1  Charlie  The Handmaid's Tale  Margaret Atwood  2023-07-10
2    Alice       Oryx and Crake  Margaret Atwood  2023-07-20

In [21]:
# write the DataFrame to an Excel file
df.to_excel('report.xlsx', index=False, sheet_name='Report')

print("Report has been written to 'report.xlsx'")

Report has been written to 'report.xlsx'